Telegram_Chatbot.json
{
  "name": "Telegram Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        -20
      ],
      "id": "32e0c4ae-61e6-448c-b90c-855bb86284fc",
      "name": "Telegram Trigger",
      "webhookId": "adfc6fac-3e71-49dd-9a02-5b43aa938fac",
      "credentials": {
        "telegramApi": {
          "id": "fPYEjs8DJYtmAj9d",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# ROLE\nYou are a friendly and helpful assistant called Agent Hunt.\nKeep your answer short and to the point.\n\n# ADDITIONAL INFORMATION\nYou are currently chatting to {{ $('Telegram Trigger').item.json.message.from.first_name }}.\nThe current date and time is {{ $now }}.\nYou must response with text or audio in English only.\n\n# TOOLS\n\n## Read Emails\nUse this tool to retrieve unread emails.\n\n## Send Email\nUse this tool to send emails. This tool requires the recepient email, the email subject and body text.\n\n## Get Calendar\nUse this tool to retrieve event from Google Calendar.\n\n## Create Event\nUse this tool to create Google Calendar events.\n\n## REAL-TIME SEARCH\nUse this tool to search in real time when been asked."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        720,
        -40
      ],
      "id": "525cfb35-ac70-4343-a53e-03a8d93b8e68",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "id": "b9cc5d1e-2bf2-485f-b6e5-8dacde83640b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "W59gK0l9yVpcweyp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        340
      ],
      "id": "c92f75d6-6881-4452-b6ba-2bc00136697c",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1560,
        340
      ],
      "id": "854860f0-a921-449c-9915-41751097249b",
      "name": "Telegram",
      "credentials": {
        "telegramApi": {
          "id": "fPYEjs8DJYtmAj9d",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3543b68f-75f6-42dd-bac9-2443998ced8b",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "56cf6929-7290-4265-9af5-75f3381e7e12",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -440,
        -40
      ],
      "id": "a44946b1-e96f-48eb-aca6-f3d14454b46a",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        340,
        -240
      ],
      "id": "39b62d60-6d5c-458d-afd2-5ebfadbacbd1",
      "name": "Get Audio",
      "credentials": {
        "telegramApi": {
          "id": "fPYEjs8DJYtmAj9d",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        520,
        -240
      ],
      "id": "6446b7db-a25e-4534-9a74-cc9bb965752b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "W59gK0l9yVpcweyp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c25ca3c-ee7c-40aa-9da4-7ff3daafb687",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -40
      ],
      "id": "b4ae94ad-5cc2-4e7a-898e-bbd9ed47ac87",
      "name": "Agent Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7af199b5-2f26-4afb-8cb7-9fa64c15b258",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1140,
        -40
      ],
      "id": "7d01398b-6ffd-4ee8-9353-b20cbaa8a2d3",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('AI Agent').item.json.output }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1400,
        -360
      ],
      "id": "71a9c750-6e7f-4746-87a9-37ab22d6ea60",
      "name": "Generate Audio",
      "credentials": {
        "openAiApi": {
          "id": "W59gK0l9yVpcweyp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1740,
        -360
      ],
      "id": "9a8a7381-0e4d-4540-b11d-e5283e4a03af",
      "name": "Audio Response",
      "credentials": {
        "telegramApi": {
          "id": "fPYEjs8DJYtmAj9d",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[2].file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        280,
        740
      ],
      "id": "0e2c7179-08fc-49ac-ad3c-8e2c1faacb50",
      "name": "Download Image",
      "credentials": {
        "telegramApi": {
          "id": "fPYEjs8DJYtmAj9d",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputItem = items[0];\nconst extension = inputItem.binary.data.fileExtension;\ninputItem.binary.data.mimeType = `image/${extension}`;\nreturn inputItem;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        740
      ],
      "id": "d4fab1c3-b7a9-4a34-b57e-c386a668a20f",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "={{ $('Telegram Trigger').item.json.message.caption || \"Describe the image\" }}",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        840,
        740
      ],
      "id": "7908713c-e64a-4868-9246-42b5a8128ea3",
      "name": "Analyze Image",
      "credentials": {
        "openAiApi": {
          "id": "W59gK0l9yVpcweyp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d2ce048-0b2a-4867-9808-502c6c6c53da",
              "name": "output",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        740
      ],
      "id": "de5a41d9-4832-48a0-bb83-f1924e3dad2c",
      "name": "Format Image Output"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        460,
        380
      ],
      "id": "f55986c1-e6e3-4b9e-a848-b6ad03de13ff",
      "name": "Read Gmail",
      "webhookId": "f7bf05af-5ba7-4c44-b58c-2603f2d4e98f",
      "credentials": {
        "gmailOAuth2": {
          "id": "xgGTyw3YL6RNvRf4",
          "name": "Gmail Account mrmadigitalz"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('email_address', 'The recepient email address') }}",
        "subject": "={{ $fromAI('email_subject', 'The email subject line') }}",
        "emailType": "text",
        "message": "={{ $fromAI('email_body', 'The email body') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        580,
        420
      ],
      "id": "fe4779e5-0662-4f4b-b8a6-234a83a5e1be",
      "name": "Send email",
      "webhookId": "cdedb814-851c-412a-bedd-1930c9e2c6f1",
      "credentials": {
        "gmailOAuth2": {
          "id": "xgGTyw3YL6RNvRf4",
          "name": "Gmail Account mrmadigitalz"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mrmadigitalz@gmail.com",
          "mode": "list",
          "cachedResultName": "mrmadigitalz@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        700,
        460
      ],
      "id": "8b54d99b-ded7-4448-9d76-a273277ab258",
      "name": "Get Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BuDh1r3aQKZuhnkt",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "mrmadigitalz@gmail.com",
          "mode": "list",
          "cachedResultName": "mrmadigitalz@gmail.com"
        },
        "start": "={{ $fromAI('start') }}",
        "end": "={{ $fromAI('end') }}",
        "additionalFields": {
          "summary": "={{ $fromAI('email_title') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        820,
        500
      ],
      "id": "532e406d-96d3-4015-a768-e9904183b3e4",
      "name": "Create Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BuDh1r3aQKZuhnkt",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        940,
        500
      ],
      "id": "ece3f90a-0984-439a-b4d4-e82f1009e688",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "NSqmBmKbsLTfucJm",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Audio Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Format Image Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Image Output": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3737a114-b0e1-4a30-9da6-c6cd2dd257ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed42c8087f13b828320b0703c64d944b5753cc52f48d7d0866d8de669ed65e40"
  },
  "id": "qFkLBtlOJsxWZc7c",
  "tags": []
}